.hero-mobile-pacotes{
    height: 400px;
    width: 100%;
    background-image: url(../img/hero-pacotes-mobile.jpg);
    background-size: cover;
    background-position: -215px 0px;
    margin-bottom: 88px;
}

.title-hero h2{
    padding-top: 65px;
    padding-bottom: 0;
    font-size: 48px;
    color: white;
    text-align: start;
}

.title-hero hr{
    width: 180px;
    height: 4px;
    background-color: var(--secundary-color);
    margin-left: 24px;
    border-radius: 16px;
    margin-bottom: 32px;
}
.hero-mobile-pacotes p{
    color: white;
    font-size: 20px;
    width: 312px;
    margin-left: 24px;
}