.text-content h3{
    margin: 0 24px 24px 24px;
}

.text-content p{
    margin: 0 24px 24px;
}

.photo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 460px;
    place-items: center;
}

.image.bag{
    background-image: url(../img/pagamento1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 24px;
}

.image.passport{
    background-image: url(../img/pagamento2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 24px;
}

.image{
    width: 144px;
    height: 254px;
}

.image.people{
    width: 312px;
    height: 182px;
    grid-column: 2 span;
    background-image: url(../img/pagamento3.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

@media screen and (min-width: 768px) {

    .text-content h3{
    margin: 0 60px 24px 60px;
    font-weight: var(--title-weight);
    font-size: 32px;
    width: 491px;
}

.text-content p{
    margin: 0 60px 24px 60px;
}

.image{
    width: 312px;
    height: 254px;
}
    .image.bag{
    background-image: url(../img/pagamento1-tablet.png);
    margin-left: 60px;
}

.image.passport{
    background-image: url(../img/pagamento2-tablet.png);
    margin-right: 60px;
}
.image.people{
    width: 648px;
    background-image: url(../img/pagamento3-tablet.png);
}
}